@font-face {
	font-family: 'fontGame';
	src: url('../assets/Pony.ttf');
}

.game {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bgGame.png');
    background-size: cover;
	background-position: 50% -80%;
	font-family: fontGame;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
}

.option {
	border: 5px solid #45D994;
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.option > img {
	width: 100px;
	height: 100px;
}

.btnOption {
	width: 50px;
	height: 50px;
}

.btnOption > img {
	width: 35px;
	height: 35px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

.ketQua > div {
	font-size: 3rem;
}